html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 0 36px;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.w {
  width: 1280px;
  margin: 0 auto;
}
.on {
  display: block;
}
.off {
  display: none;
}
.navigation {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.navigation .nav-left {
  float: left;
}
.navigation .nav-left img {
  width: 210px;
  height: 66px;
}
.navigation .nav-right .nav-right-ul {
  margin-left: 232px;
}
.navigation .nav-right .nav-right-ul li {
  float: left;
  line-height: 66px;
}
.navigation .nav-right .nav-right-ul li a {
  color: #646464;
}
.navigation .nav-right .nav-right-ul li a:hover {
  color: #164a86;
}
.navigation-b {
  height: 130px;
  overflow: hidden;
}
.navigation-b .navigation-b-ul {
  width: 860px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  padding: 30px 0 0 0;
  box-sizing: border-box;
  margin-left: 346px;
}
.navigation-b .navigation-b-ul li {
  float: left;
  flex: 1;
  padding: 0;
  box-sizing: border-box;
}
.navigation-b .navigation-b-ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.navigation-b .navigation-b-ul li a p {
  color: blue;
  font-size: 12px;
  text-align: center;
  color: #9c9c9c;
  margin: 0;
  padding: 0;
}
.navigation-b .navigation-b-ul li a .p-move {
  margin-top: 12px;
}
.navigation-b .navigation-b-ul li a .icon {
  text-align: center;
  height: 40px;
}
.navigation-b .navigation-b-ul li a .icon img {
  width: 24px;
  height: auto;
}
.navigation-b .navigation-b-ul li a .icon .introduce-icon-2 {
  width: 30px;
  height: auto;
}
.navigation-b .navigation-b-ul li a .icon .introduce-icon-3 {
  width: 34px;
  height: auto;
}
.navigation-b .navigation-b-ul li a .icon .introduce-icon-4 {
  width: 37px;
  height: auto;
}
.navigation-b .navigation-b-ul li a .icon .introduce-icon-5 {
  width: 31px;
  height: auto;
}
.navigation-b .navigation-b-ul li a .icon .introduce-icon-6 {
  width: 32px;
  height: auto;
}
.navigation-b .navigation-b-ul li a:hover p {
  color: #164a86;
}
.navigation-b .navigation-b-ul li .active p {
  color: #164a86;
}
.navigation-b .navigation-b-ul .li-diff a p {
  padding: 0 30px;
}
.navigation .navigation-t .nav-right .nav-right-ul .actives a {
  color: #164a86;
}
.pic-data {
  width: 100%;
}
.pic-data .cnt ul {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 35px 0;
}
.pic-data .cnt ul li {
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  text-align: center;
  box-shadow: 0 0 10px #cccccc;
}
.pic-data .cnt ul li img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .footer .footer-container .footer-right {
    width: auto;
  }
}
.footer .footer-container .footer-right {
  margin-left: 30px;
  float: left;
  text-align: left;
}
@media (min-width: 992px) {
  .footer .footer-t {
    width: 1280px;
  }
  .footer .footer-b {
    width: 1280px;
  }
}
@media (min-width: 1600px) {
  .swiper-slide .footer .footer-container .footer-right .footer-list {
    margin-left: 90px;
  }
}
.w {
  width: 1280px;
  margin: 0 auto;
}
.footer {
  width: 100%;
  background: #efefef;
  height: 470px;
  overflow: hidden;
}
.footer .footer-t {
  display: flex;
  margin: 50px auto;
}
.footer .footer-t .footer-t-ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
.footer .footer-t .footer-t-ul .size {
  font-weight: 600;
}
.footer .footer-t .footer-t-ul .move-t {
  margin-top: 40px;
}
.footer .footer-t .footer-t-ul li a {
  color: #000000;
}
.footer .footer-t .one {
  width: 75px;
  margin-right: 140px;
}
.footer .footer-t .two {
  margin-right: 140px;
}
.footer .footer-t .three {
  margin-right: 110px;
}
.footer .footer-t .four {
  margin-right: 120px;
}
.footer .footer-t .footer-t-ul li {
  list-style: none;
  font-size: 14px;
  padding: 6px;
}
.footer .footer-b {
  margin: 0 auto;
  padding-right: 88px;
  box-sizing: border-box;
}
.footer .footer-b .footer-b-t {
  overflow: hidden;
  width: 100%;
  height: 34px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.footer .footer-b .footer-b-t .text {
  margin: 0;
  padding: 0;
  text-align: left;
}
.footer .footer-b .footer-b-t img {
  position: absolute;
  width: 85px;
  height: auto;
  right: 0;
  top: 0;
}
.footer .footer-b .footer-b-b {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
}
