<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/lianxi.css">
  <title>Document</title>
</head>
<body>
        <!--导航-->
        <div class="navigation ">
                <div class="navigation-t w">
                    <div class="nav-left clearfix">
                        <img src="../images/logo1.png" alt="">
                      </div>
                      <div class="nav-right">
                        <ul class="nav-right-ul clearfix">
                          <li>
                            <a href="../Index.html">首页</a>
                          </li>
                          <li>
                            <a href="./introduce.html">和平介绍</a>
                          </li>
                          <li>
                            <a href="./news.html">新闻快报</a>
                          </li>
                          <li>
                            <a href="./recruit.html">人才招聘</a>
                          </li>
                          <li class="actives">
                            <a href="./contact.html">联系我们</a>
                          </li>
                        </ul>
                      </div>
                </div>
              </div>

      

        <!-- banner开始 -->
        <div class="banner">
            <div class="content w">
              <p class="p-one">Office Building</p>
              <p>5A级写字楼</p>
            </div>  
        </div>

        <div class="navigation-b w">
            <ul class="navigation-b-ul">
    
              <li>
                <a href="#">
                  <div class="icon ">
                    <img src="../images/introduce-icon-1.png" alt="">
                  </div>  
                  <p class="p-move">上海和平企业集团(集团)</p>
                </a>
              </li>
    
              <li class="li-diff">
                  <a href="#">
                    <div class="icon">
                      <img class="introduce-icon-2" src="../images/introduce-icon-2.png" alt="">
                    </div>  
                    <p>南上海文化旅
                        游国际度假区</p>
                  </a>
                </li>
                
                <li>
                    <a href="#">
                      <div class="icon">
                        <img class="introduce-icon-3" src="../images/introduce-icon-3.png" alt="">
                      </div>  
                      <p class="p-move">上海世纪酒店管理</p>
                    </a>
                  </li>
                  
                  <li class="li-diff">
                      <a href="#">
                        <div class="icon">
                          <img class="introduce-icon-4" src="../images/introduce-icon-4.png" alt="">
                        </div>  
                        <p>上海和平好莱
                            坞国际酒店</p>
                      </a>
                    </li>             
    
                    <li>
                        <a href="#">
                          <div class="icon">
                            <img class="introduce-icon-5" src="../images/introduce-icon-5.png" alt="">
                          </div>  
                          <p class="p-move">上海和平商贸金融</p>
                        </a>
                      </li>
    
                      <li>
                          <a href="#">
                            <div class="icon">
                              <img class="introduce-icon-6" src="../images/introduce-icon-6.png" alt="">
                            </div>  
                            <p class="p-move">上海和平企业集团(集团)</p>
                          </a>
                        </li>                 
              
    
    
            </ul>
    
        </div>

        <!-- address开始 -->
        <div class="adress">
          <div class="adress-cnt w clearfix">
            <div class="left clearfix">
              <ul class="adress-ul">
                <li class="active">
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>

                </li>
                <li>
                    <div class="li-pad">
                        <h2>上海和平企业(集团)</h2>
                        <div class="off">
                            <p>上海市浦东新区沪南公路2651号</p>
                            <p>021-6893 0000 </p>
                        </div>
                    </div>
 
               </li>

               <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
               </li>
               <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
              <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="li-pad">
                      <h2>上海和平企业(集团)</h2>
                      <div class="off">
                          <p>上海市浦东新区沪南公路2651号</p>
                          <p>021-6893 0000 </p>
                      </div>
                  </div>
                </li>


              </ul>
            </div>

            <div class="right ">
              <div id="allmap"></div>
            </div>
          </div>
        </div>


         <!-- 底部开始 -->
         <div class="footer">
                <div class="w footer-t">
                  <ul class="footer-t-ul one">
                    <li class="size">首页</li>
                    <li><a href="./introduce.html">集团介绍</a></li>
                    <li><a href="./recruit.html">人才招聘</a></li>
                    <li><a href="./contact.html">联系我们</a></li>
                    <li><a href="./news.html">新闻快报</a></li>     
                  </ul>

                  <ul class="footer-t-ul two">
                     <li class="size">和平产业</li>
                     <li><a href="#">文化旅游</a></li>
                     <li><a href="#">酒店管理</a></li>
                     <li><a href="#">国际酒店</a></li>
                     <li><a href="#">商贸金融</a></li>
                     <li><a href="#">汽车租赁</a></li>     
                  </ul>

                  <ul class="footer-t-ul three">
                     <li class="size">和平旗下公司</li>
                     <li><a href="#">上海和平企业（集团）</a></li>
                     <li><a href="#">南上海文化旅游国际度假区</a></li>
                     <li><a href="#">上海世纪酒店管理有限公司</a></li>
                     <li><a href="#">上海和平好莱坞国际酒店</a></li>
                     <li><a href="#">上海和平商贸金融有限公司</a></li>
                     <li><a href="#">上海和平汽车租赁有限公司</a></li>      
                   </ul>

                 <ul class="footer-t-ul four">
                       <li class="size ">南上海文化旅游国际度假区</li>
                       <li><a href="#">上海和平企业（集团）</a></li>
                       <li><a href="#">南上海文化旅游国际度假区</a></li>

                       <li class="size move-t">上海和平企业（集团）</li>
                       <li><a href="#">上海和平企业（集团）</a></li>
                       <li><a href="#">南上海文化旅游国际度假区</a></li>
                       <li><a href="#">上海世纪酒店管理有限公司</a></li>
                       <li><a href="#">上海和平好莱坞国际酒店</a></li>     
                 </ul>

                 <ul class="footer-t-ul five">
                         <li class="size ">上海世纪酒店管理有限公司</li>
                         <li><a href="#">上海和平企业（集团）</a></li>
                         <li><a href="#">南上海文化旅游国际度假区</a></li>

                         <li class="size move-t">上海和平好莱坞国际酒店</li>
                         <li><a href="#">上海和平商贸金融有限公司</a></li>
                         <li><a href="#">上海和平汽车租赁有限公司</a></li>
                         <li><a href="#">上海和平企业（集团）</a></li>  
                         <li><a href="#">南上海文化旅游国际度假区</a></li>    
                 </ul>

                  
                </div>
                <div class=" w footer-b">
                    <div class="footer-b-t">
                        <p class="text">
                           联系方式：021-6893 0000    邮箱：1234567@qq.com    地址：上海市浦东新区沪南公路2651号
                        </p>
                        <img src="../images/logo1.png" alt="">
                    </div>
                    <p class="footer-b-b"> 
                       版权所有 Copyright(c)2009-2014上海和平企业（集团）有限公司
                    </p>
                </div>
        </div>
  
        <script src="../js/jquery-3.1.0.min.js"></script>
        <script>
          $('.adress-ul').on('click','li',function(){
            var _that = $(this);
            var liPad = $('.li-pad');
            _that
              .addClass('active')
              .siblings()
              .removeClass('active')
              .children('.li-pad')
              .children('div')
              .addClass('off');
              _that
              .children('.li-pad')
              .children('div')
              .removeClass('off');
          })
        </script>

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZ5nyKUeivsxXpyaSfwE9vTBzkSj5ifL"></script>
  <script type="text/javascript">
     // 百度地图API功能
     var map = new BMap.Map("allmap");
     var point = new BMap.Point(121.574279, 31.152811);
     map.centerAndZoom(point, 15);
     var marker = new BMap.Marker(point);  
     map.addOverlay(marker);              
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); 
     map.enableScrollWheelZoom(true);
   </script>
</body>
</html>