<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/hotel.css">
  <title>和平酒店</title>
</head>
<body>
        <!--导航-->
        <div class="navigation ">
          <div class="navigation-t w">
              <div class="nav-left clearfix">
                  <img src="../images/logo1.png" alt="">
                </div>
                <div class="nav-right">
                  <ul class="nav-right-ul clearfix">
                    <li>
                      <a href="../Index.html">首页</a>
                    </li>
                    <li class="actives">
                      <a href="./introduce.html">和平介绍</a>
                    </li>
                    <li>
                      <a href="./news.html">新闻快报</a>
                    </li>
                    <li>
                      <a href="./recruit.html">人才招聘</a>
                    </li>
                    <li>
                      <a href="./contact.html">联系我们</a>
                    </li>
                  </ul>
                </div>
          </div>
        </div>
    
        <div class="navigation-b w">
          <ul class="navigation-b-ul">
  
            <li>
              <a class="active" href="">
                <div class="icon ">
                  <img src="../images/introduce-icon-1.png" alt="">
                </div>  
                <p class="p-move">上海和平企业集团(集团)</p>
              </a>
            </li>
  
            <li class="li-diff">
                <a href="./huamei.html">
                  <div class="icon">
                    <img class="introduce-icon-2" src="../images/introduce-icon-2.png" alt="">
                  </div>  
                  <p>南上海文化旅
                      游国际度假区</p>
                </a>
              </li>
              
              <li>
                  <a href="./hotel.html">
                    <div class="icon">
                      <img class="introduce-icon-3" src="../images/introduce-icon-3.png" alt="">
                    </div>  
                    <p class="p-move">上海世纪酒店管理</p>
                  </a>
                </li>
                
                <li class="li-diff">
                    <a href="./huamei.html">
                      <div class="icon">
                        <img class="introduce-icon-4" src="../images/introduce-icon-4.png" alt="">
                      </div>  
                      <p>上海和平好莱
                          坞国际酒店</p>
                    </a>
                  </li>             
  
                  <li>
                      <a href="./square.html">
                        <div class="icon">
                          <img class="introduce-icon-5" src="../images/introduce-icon-5.png" alt="">
                        </div>  
                        <p class="p-move">上海和平商贸金融</p>
                      </a>
                    </li>
  
                    <li>
                        <a href="./bulid.html">
                          <div class="icon">
                            <img class="introduce-icon-6" src="../images/introduce-icon-6.png" alt="">
                          </div>  
                          <p class="p-move">上海和平汽车租赁</p>
                        </a>
                      </li>                 
            
  
  
          </ul>
  
      </div>
    
        <!-- banner开始 -->
        <div class="banner">
          <div class="content w">
            <p class="p-one">Howard Johnson</p>
            <p class="p-two">和平豪生酒店</p>
          </div>  
        </div>
    

        <div class="tap-column">
            <div class="cnt w">
              <div class="tap">
                <ul class="tap-ul" >
                  <li class="active" data-num="ones">酒店客房</li>
                  <li data-num="twos">区位交通</li>
                  <li data-num="threes">千平无柱大厅</li>
                  <li data-num="fours">配套餐饮</li>
                  <li data-num="fives">健身中心</li>

                </ul>
              </div>
         
            </div>
        </div>

        <!-- one -->
        <div class="ones active same">
          <div class="one-cnt w">
            <div class="one-l">
              <p>酒店拥有179间豪华客房以及套房。现代欧式的装修风格精致典雅，每个房间都配备42英寸卫星电视、个人专属保险箱、给您专属奢华住宿体验。</p>
                <div class="pic">
                    <img src="../images/hotel-img.png" alt="">
                </div>
              
              <p class="p-bottom">标准大床双床房</p>
            </div>
            <div class="one-r">
              <div class="pic-two">
                  <img src="../images/hotel-img1.png" alt="">
              </div>
              
              <p class="pic-two-p">豪华行政套房</p>
            </div>
          </div>
        </div>

        <!-- two -->
        <div class="twos off same">
          <div class="two-cnt clearfix w">
            <div class="two-cnt-l clearfix">
              <p>上海和平豪生酒店位于浦东康桥工业园区，毗邻上海自贸区，距离上海迪士尼仅15分钟车程，地理位置优越。</p>
              <p>从酒店前往上海浦东国际机场、新国际展览中心、陆家  嘴金融中心、人民广场、新天地也都十分便捷。</p>
            </div>
            <div class="two-cnt-r clearfix">
              <img src="../images/hotle2-iimg.png" alt="">
            </div>
          </div>
        </div>

        <!-- three -->
        <div class="threes off same">
          <div class="three-cnt w">
            <div class="three-cnt-l clearfix">
              <h3>酒店宴会厅、会务中心、婚宴厅</h3>
              <p>酒店拥有４间多功能会议室以及面积近1000平方米的豪华无柱宴会厅，宴会厅层高6米，可同时容纳500人在此聚会。厅内装饰大气典雅，大型水晶顶灯和金碧辉煌的欧式古典装潢别具一格，是您举办各类婚宴聚会的最优之选.</p>
              <div class="bottom">
                <div class="bottom-l">
                  <img src="../images/hotle3-img.jpg" alt="">
                  <p>中型厅</p>
                </div>

                <div class="bottom-r">
                    <img src="../images/hotle3-img.jpg" alt="">
                    <p>小型会务、宴请厅</p>
                  </div>
              </div>


            </div>
            <div class="three-cnt-r clearfix">
              <div class="pic-t">
                <img src="../images/hotle3-img3.jpg" alt="">
                <p>千平无柱大厅（和平厅、豪生厅）</p>
              </div>
            </div>
          </div>
        </div>

        <!-- four -->
        <div class="fours off same">
          <div class="four-cnt w clearfix">
            <div class="four-cnt-l clearfix">
              <div class="top">
                <ul>
                  <li>艺廊大堂吧位于酒店一楼，面积156平方米，是一个开放式酒吧，简洁明了的现代欧式装潢风格，豪华大气。</li>
                  <li>豪生阁中餐厅位于酒店二楼，面积290平方米，燕鲍翅、蟹宴、豪华港式粤菜、高档海鲜等是商务宴请的绝佳选择。</li>
                  <li>豪生咖啡西餐厅位于酒店三楼，面积330平方米，可举办各类主题自助餐、夏日户外烧烤、B.B.Q等。</li>
                </ul>
              </div>
                <div class="bottom">
                  <img src="../images/hotle4-img1.png" alt="">
                  <p>咖啡西餐厅</p>
                </div>

              
            </div>
            <div class="four-cnt-r clearfix">
              <img src="../images/hotle4-img.png" alt="">
              <p>豪生阁中餐厅</p>
            </div>
          </div>
        </div>

        <!-- five -->
        <div class="fives off same">
          <div class="five-cnt w clearfix">
              <div class="five-cnt-l clearfix">
                  <img src="../images/hotel5-img1.png" alt="">
                </div>
            <div class="five-cnt-r clearfix">
              <div class="top">
                <h3>健身中心</h3>
                <p>水疗和健身中心配备了设备齐全的健身房，
                    桑拿浴和蒸汽浴等尊贵服务</p>

              </div>
              <div class="pic">
                  <img src="../images/hotel5-img2.png" alt="">
              </div>
            </div>

          </div>
        </div>

        <!-- 图列表 -->
    <div class="pic-data">
        <div class="cnt w">
          <ul class="">
            <li>
              <img src="../images/square-img6.png" alt="">
            </li>
            <li>
              <img src="../images/square-img6.png" alt="">
            </li>
            <li>
              <img src="../images/square-img6.png" alt="">
            </li>
            <li>
              <img src="../images/square-img9.png" alt="">
            </li>
            <li>
              <img src="../images/square-img10.png" alt="">
            </li>
            <li>
              <img src="../images/square-img11.png" alt="">
            </li>
            <li>
              <img src="../images/square-img12.png" alt="">
            </li>
            <li>
              <img src="../images/square-img13.png" alt="">
            </li>
          </ul>
        </div>
    </div>


       <!-- 底部开始 -->
   
       <div class="footer">
        <div class="w footer-t">
          <ul class="footer-t-ul one">
            <li class="size">首页</li>
            <li><a href="./introduce.html">集团介绍</a></li>
            <li><a href="./recruit.html">人才招聘</a></li>
            <li><a href="./contact.html">联系我们</a></li>
            <li><a href="./news.html">新闻快报</a></li>      
          </ul>
  
          <ul class="footer-t-ul two">
             <li class="size">和平产业</li>
             <li><a href="#">文化旅游</a></li>
             <li><a href="#">酒店管理</a></li>
             <li><a href="#">国际酒店</a></li>
             <li><a href="#">商贸金融</a></li>
             <li><a href="#">汽车租赁</a></li>     
          </ul>
  
          <ul class="footer-t-ul three">
             <li class="size">和平旗下公司</li>
             <li><a href="#">上海和平企业（集团）</a></li>
             <li><a href="#">南上海文化旅游国际度假区</a></li>
             <li><a href="#">上海世纪酒店管理有限公司</a></li>
             <li><a href="#">上海和平好莱坞国际酒店</a></li>
             <li><a href="#">上海和平商贸金融有限公司</a></li>
             <li><a href="#">上海和平汽车租赁有限公司</a></li>      
           </ul>
  
         <ul class="footer-t-ul four">
               <li class="size ">南上海文化旅游国际度假区</li>
               <li><a href="#">上海和平企业（集团）</a></li>
               <li><a href="#">南上海文化旅游国际度假区</a></li>
  
               <li class="size move-t">上海和平企业（集团）</li>
               <li><a href="#">上海和平企业（集团）</a></li>
               <li><a href="#">南上海文化旅游国际度假区</a></li>
               <li><a href="#">上海世纪酒店管理有限公司</a></li>
               <li><a href="#">上海和平好莱坞国际酒店</a></li>     
         </ul>
  
         <ul class="footer-t-ul five">
                 <li class="size ">上海世纪酒店管理有限公司</li>
                 <li><a href="#">上海和平企业（集团）</a></li>
                 <li><a href="#">南上海文化旅游国际度假区</a></li>
  
                 <li class="size move-t">上海和平好莱坞国际酒店</li>
                 <li><a href="#">上海和平商贸金融有限公司</a></li>
                 <li><a href="#">上海和平汽车租赁有限公司</a></li>
                 <li><a href="#">上海和平企业（集团）</a></li>  
                 <li><a href="#">南上海文化旅游国际度假区</a></li>    
         </ul>
  
          
        </div>
        <div class=" w footer-b">
            <div class="footer-b-t">
                <p class="text">
                   联系方式：021-6893 0000    邮箱：1234567@qq.com    地址：上海市浦东新区沪南公路2651号
                </p>
                <img src="../images/logo1.png" alt="">
            </div>
            <p class="footer-b-b"> 
               版权所有 Copyright(c)2009-2014上海和平企业（集团）有限公司
            </p>
        </div>
     </div>

    <script src="../js/jquery-3.1.0.min.js"></script>
    <script>
    $(function(){
      $('.tap-ul').on('click','li',function(){
        var _that = $(this);
        var num ='.'+ _that.attr('data-num');
        _that
         .addClass('active')
         .siblings()
         .removeClass('active');
        $(num)
          .removeClass('off')
          .siblings('.same')
          .addClass('off');
        console.log();
        
      })
    })
    </script>
  
</body>
</html>