<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/huamei.css">
  <title>华美酒店</title>
</head>
<body>
        <!--导航-->
        <div class="navigation ">
          <div class="navigation-t w">
              <div class="nav-left clearfix">
                  <img src="../images/logo1.png" alt="">
                </div>
                <div class="nav-right">
                  <ul class="nav-right-ul clearfix">
                    <li>
                      <a href="../Index.html">首页</a>
                    </li>
                    <li class="actives">
                      <a href="./introduce.html">和平介绍</a>
                    </li>
                    <li>
                      <a href="./news.html">新闻快报</a>
                    </li>
                    <li>
                      <a href="./recruit.html">人才招聘</a>
                    </li>
                    <li>
                      <a href="./contact.html">联系我们</a>
                    </li>
                  </ul>
                </div>
          </div>
        </div>
    
        <div class="navigation-b w">
          <ul class="navigation-b-ul">
  
            <li>
              <a class="active" href="">
                <div class="icon ">
                  <img src="../images/introduce-icon-1.png" alt="">
                </div>  
                <p class="p-move">上海和平企业集团(集团)</p>
              </a>
            </li>
  
            <li class="li-diff">
                <a href="./huamei.html">
                  <div class="icon">
                    <img class="introduce-icon-2" src="../images/introduce-icon-2.png" alt="">
                  </div>  
                  <p>南上海文化旅
                      游国际度假区</p>
                </a>
              </li>
              
              <li>
                  <a href="./hotel.html">
                    <div class="icon">
                      <img class="introduce-icon-3" src="../images/introduce-icon-3.png" alt="">
                    </div>  
                    <p class="p-move">上海世纪酒店管理</p>
                  </a>
                </li>
                
                <li class="li-diff">
                    <a href="./huamei.html">
                      <div class="icon">
                        <img class="introduce-icon-4" src="../images/introduce-icon-4.png" alt="">
                      </div>  
                      <p>上海和平好莱
                          坞国际酒店</p>
                    </a>
                  </li>             
  
                  <li>
                      <a href="./square.html">
                        <div class="icon">
                          <img class="introduce-icon-5" src="../images/introduce-icon-5.png" alt="">
                        </div>  
                        <p class="p-move">上海和平商贸金融</p>
                      </a>
                    </li>
  
                    <li>
                        <a href="./bulid.html">
                          <div class="icon">
                            <img class="introduce-icon-6" src="../images/introduce-icon-6.png" alt="">
                          </div>  
                          <p class="p-move">上海和平汽车租赁</p>
                        </a>
                      </li>                 
            
  
  
          </ul>
  
      </div>
  


        <!-- banner开始 -->
        <div class="banner">
            <div class="content w">
              <p class="p-one">RAMADA PLAZA</p>
              <p>和平华美达广场酒店</p>
            </div>  
        </div>
      
  
        <div class="tap-column">
              <div class="cnt w">
                <div class="tap">
                  <ul class="tap-ul" >
                    <li class="active" data-num="ones">酒店简介</li>
                    <li data-num="twos">客房简介</li>
                    <li data-num="threes">会议室及宴会厅</li>
                    <li data-num="fours">公共设施</li>
                    <li data-num="fives">旅游购物及展馆</li>
  
                  </ul>
                </div>
           
              </div>
        </div>

<!-- one -->
<div class="ones active same">
  <div class="one-cnt w clearfix">
    <div class="top">
      <p>上海和平华美达广场酒店坐落千上海中心城区黄浦区，地理位置优越。距离繁华的淮海路商业街、新天地、徐家汇、及历史人文浓郁的外滩、豫园仅5分钟车程，紧邻地铁4号线、9号线及南北高架路卢浦大桥，可方便地抵达陆家嘴、世博展览馆、浦东新国际展览馆等地，往返虹桥及浦东机场快捷便利。酒店位处世博园区内，是本区知名的国际品牌酒店之一。</p>
      <p>经过专业培训的服务团队将为您提供宾至如归的个性化服务，让您享受别具臻品的住宿体验和超凡的舒适氛围。无论您何时位临上海和平华美达广场酒店，我们都将秉承“期待有限，服务无限” 之服务宗旨。</p>
    </div>
    <div class="bottom clearfix">
      <div class="bottom-l ">
        <img src="../images/huamei-img.png" alt="">
      </div>
      <div class="bottom-r ">
          <img class="pic-one" src="../images/huamei-img1.png" alt="">
          <img class="pic-two" src="../images/huamei-img2.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- two -->
<div class="twos off same">
  <div class="two-cnt w">
    <h2>上海和平华美达广场酒店拥有197间各类客房，其中包括</h2>
    <div class="top">
      <ul class="top-ul">
        <li>
          <img src="../images/huamei2-img.png" alt="">
        </li>
        <li class="other">
          <span>高级房</span>
          <span>豪华房</span>
          <span>精致套房</span>
          <span >行政套房</span>
        </li>
        <li>
          <img src="../images/huamei2-img1.png" alt="">
        </li>
      </ul>
      <ul class="other-two">
        <li>
          <img src="../images/huamei2-img1.png" alt="">
        </li>
        <li>
            <img src="../images/huamei2-img1.png" alt="">
          </li>
      </ul>
    </div>
  </div>
</div>

<!-- three -->
<div class="threes off same">
  <div class="three-cnt w">
    <ul class="top">
      <li>
        <p class="title">迎宾廊</p>
        <p class="p-two">Royal Lounge</p>
        <p>160 m<sup>2</sup></p>
      </li>
      <li>
        <p class="title">皇府</p>
        <p class="p-two">Royal Palace</p>
        <p>310 m<sup>2</sup></p>
      </li>
      <li>
        <p class="title">会议室</p>
        <p class="p-two">VIP1 - VIP5</p>
        <p class="p-two">53 m<sup>2</sup></p>
        <p>152-154 m<sup>2</sup></p>
      </li>
      <li>
        <p class="title">百合廊</p>
        <p class="p-two">Lily Lounge</p>
        <p>167 m<sup>2</sup></p>
      </li>
      <li>
        <p class="title">百合厅</p>
        <p class="p-two">Lily Hall </p>
        <p>383 m<sup>2</sup></p>
      </li>
      <li class="">
        <p class="title">商务会议室</p>
        <p class="p-two">BC Meeting Room</p>
        <p>30 m<sup>2</sup></p>
      </li>
    </ul>

    <ul class="bottom">
      <li>
        <img src="../images/huamei3-img.png" alt="">
      </li>
      <li>
        <img src="../images/huamei3-img.png" alt="">
      </li>
      <li>
        <img src="../images/huamei3-img.png" alt="">
      </li>
      <li>
        <img src="../images/huamei3-img.png" alt="">
      </li>
    </ul>
  </div>
</div>

<!-- four -->
<div class="fours off same">
  <div class="four-cnt w clearfix">
    <div class="left">
      <ul class="left-ul clearfix">
        <li>
          <p class="p-one">中、西日餐厅</p>
          <p> Chinese, Western, Japanese Restaurant</p>
        </li>

        <li>
          <p class="p-one">大堂酒吧</p>
          <p> Lobby Bar</p>
        </li>

        <li>
          <p class="p-one">健身房</p>
          <p> Fitness Center  </p>
        </li>

        <li>
          <p class="p-one">美容美发中心</p>
          <p> Beauty Salon</p>
        </li>
      </ul>
    </div>
    
    <div class="center clearfix">
      <ul class="center-ul">
        <li class="move">
          <img src="../images/huamei4-img1.png" alt="">
        </li>
        <li>
            <img src="../images/huamei4-img2.png" alt="">
          </li>
          <li  class="move move-t">
              <img src="../images/huamei4-img3.png" alt="">
            </li>
            <li class="move-t">
                <img src="../images/huamei4-img4.png" alt="">
              </li>
      </ul>
    </div>
    <div class="right clearfix">
      <ul class="right-ul">
        <li>
          <p class="p-one">桑拿／美体</p>
          <p> Sauna/Spa</p>
        </li>

        <li >
            <p class="p-one">商务中心</p>
            <p> Business Center</p>
          </li>

          <li>
              <p class="p-one">地面及地下停车场</p>
              <p> Parking (Ground/Under Ground)</p>
            </li>

            <li>
                <p class="p-one">行政酒廊</p>
                <p>  Executive Lounge</p>
              </li>
      </ul>
    </div>
  </div>
</div>

<!-- five -->
<div class="fives off same ">
  <div class="five-cnt w">
    <div class="left clearfix">
      <ul class="left-ul">
        <li>
          <img src="../images/huamei5-img1.png" alt="">
        </li>
        <li class="li-two">
          <img src="../images/huamei5-img2.png" alt="">
        </li>
        <li class="li-three">
           <img src="../images/huamei5-img3.png" alt="">
       </li>
       <li class="li-four">
           <img src="../images/huamei5-img4.png" alt="">
         </li>
      </ul>
    </div>

    <div class="right">
      <ul class="right-ul">
        <li>
          <span class="span-a">新天地</span>
          <span class="span-b">3.3KM</span>
          <span class="span-c "></span>
        </li>

        <li>
            <span class="span-a">田子坊</span>
            <span class="span-b">1.8KM</span>
            <span class="span-c pan-c-b"></span>
          </li>

          <li>
              <span class="span-a">卢浦大桥</span>
              <span class="span-b">1.4KM</span>
              <span class="span-c pan-c-c"></span>
            </li>
            <li>
                <span class="span-a">外滩</span>
                <span class="span-b">5.2KM</span>
                <span class="span-c pan-c-d"></span>
              </li>      
              
              <li>
                  <span class="span-a">豫园／上海老街</span>
                  <span class="span-b">4.6KM</span>
                  <span class="span-c pan-c-e"></span>
                </li>

                <li>
                    <span class="span-a">上海博物馆</span>
                    <span class="span-b">3.8KM</span>
                    <span class="span-c pan-c-f"></span>
                  </li>

                  <li>
                      <span class="span-a">徐家汇</span>
                      <span class="span-b">3KM</span>
                      <span class="span-c pan-c-g"></span>
                    </li>
                    <li>
                        <span class="span-a">南京路步行街</span>
                        <span class="span-b">5.5KM</span>
                        <span class="span-c pan-c-h"></span>
                      </li>

                      <li>
                          <span class="span-a">淮海路商业街</span>
                          <span class="span-b">2.8KM</span>
                          <span class="span-c pan-c-i"></span>
                        </li>

                        <li>
                            <span class="span-a">东方明珠电视塔</span>
                            <span class="span-b">7.7KM</span>
                            <span class="span-c pan-c-j"></span>
                          </li>

                          <li>
                              <span class="span-a">世博展览馆</span>
                              <span class="span-b">5KM</span>
                              <span class="span-c pan-c-k"></span>
                            </li>

                            <li>
                                <span class="span-a">新国际展览中心</span>
                                <span class="span-b">10.6KM</span>
                                <span class="span-c pan-c-l"></span>
                              </li>


      </ul>
    </div>
  </div>
</div>

    <!-- 图列表 -->
    <div class="pic-data">
          <div class="cnt w">
            <ul class="">
              <li>
                <img src="../images/square-img6.png" alt="">
              </li>
              <li>
                <img src="../images/square-img6.png" alt="">
              </li>
              <li>
                <img src="../images/square-img6.png" alt="">
              </li>
              <li>
                <img src="../images/square-img9.png" alt="">
              </li>
              <li>
                <img src="../images/square-img10.png" alt="">
              </li>
              <li>
                <img src="../images/square-img11.png" alt="">
              </li>
              <li>
                <img src="../images/square-img12.png" alt="">
              </li>
              <li>
                <img src="../images/square-img13.png" alt="">
              </li>
            </ul>
          </div>
        </div>


   <!-- 底部开始 -->
   <div class="footer">
    <div class="w footer-t">
      <ul class="footer-t-ul one">
        <li class="size">首页</li>
        <li><a href="./introduce.html">集团介绍</a></li>
        <li><a href="./recruit.html">人才招聘</a></li>
        <li><a href="./contact.html">联系我们</a></li>
        <li><a href="./news.html">新闻快报</a></li>     
      </ul>

      <ul class="footer-t-ul two">
         <li class="size">和平产业</li>
         <li><a href="#">文化旅游</a></li>
         <li><a href="#">酒店管理</a></li>
         <li><a href="#">国际酒店</a></li>
         <li><a href="#">商贸金融</a></li>
         <li><a href="#">汽车租赁</a></li>     
      </ul>

      <ul class="footer-t-ul three">
         <li class="size">和平旗下公司</li>
         <li><a href="#">上海和平企业（集团）</a></li>
         <li><a href="#">南上海文化旅游国际度假区</a></li>
         <li><a href="#">上海世纪酒店管理有限公司</a></li>
         <li><a href="#">上海和平好莱坞国际酒店</a></li>
         <li><a href="#">上海和平商贸金融有限公司</a></li>
         <li><a href="#">上海和平汽车租赁有限公司</a></li>      
       </ul>

     <ul class="footer-t-ul four">
           <li class="size ">南上海文化旅游国际度假区</li>
           <li><a href="#">上海和平企业（集团）</a></li>
           <li><a href="#">南上海文化旅游国际度假区</a></li>

           <li class="size move-t">上海和平企业（集团）</li>
           <li><a href="#">上海和平企业（集团）</a></li>
           <li><a href="#">南上海文化旅游国际度假区</a></li>
           <li><a href="#">上海世纪酒店管理有限公司</a></li>
           <li><a href="#">上海和平好莱坞国际酒店</a></li>     
     </ul>

     <ul class="footer-t-ul five">
             <li class="size ">上海世纪酒店管理有限公司</li>
             <li><a href="#">上海和平企业（集团）</a></li>
             <li><a href="#">南上海文化旅游国际度假区</a></li>

             <li class="size move-t">上海和平好莱坞国际酒店</li>
             <li><a href="#">上海和平商贸金融有限公司</a></li>
             <li><a href="#">上海和平汽车租赁有限公司</a></li>
             <li><a href="#">上海和平企业（集团）</a></li>  
             <li><a href="#">南上海文化旅游国际度假区</a></li>    
     </ul>

      
    </div>
    <div class=" w footer-b">
        <div class="footer-b-t">
            <p class="text">
               联系方式：021-6893 0000    邮箱：1234567@qq.com    地址：上海市浦东新区沪南公路2651号
            </p>
            <img src="../images/logo1.png" alt="">
        </div>
        <p class="footer-b-b"> 
           版权所有 Copyright(c)2009-2014上海和平企业（集团）有限公司
        </p>
    </div>
 </div>
        


      <script src="../js/jquery-3.1.0.min.js"></script>
      <script>
      $(function(){
        $('.tap-ul').on('click','li',function(){
          var _that = $(this);
          var num ='.'+ _that.attr('data-num');
          _that
           .addClass('active')
           .siblings()
           .removeClass('active');
          $(num)
            .removeClass('off')
            .siblings('.same')
            .addClass('off');
          console.log();
          
        })
      })
      </script>
</body>
</html>