<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/swiper/swiper.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/news.css">
  <title>和平新闻</title>
</head>
<body>
      <!--导航-->
      <div class="navigation ">
          <div class="navigation-t w">
              <div class="nav-left clearfix">
                  <img src="../images/logo1.png" alt="">
                </div>
                <div class="nav-right">
                  <ul class="nav-right-ul clearfix">
                    <li>
                      <a href="../Index.html">首页</a>
                    </li>
                    <li>
                      <a href="./introduce.html">和平介绍</a>
                    </li>
                    <li class="actives">
                      <a href="./news.html">新闻快报</a>
                    </li>
                    <li>
                      <a href="./recruit.html">人才招聘</a>
                    </li>
                    <li>
                      <a href="./contact.html">联系我们</a>
                    </li>
                  </ul>
                </div>
          </div>
        </div>

      <div class="navigation-b w">
        <ul class="navigation-b-ul news-nav">

          <li>
            <a class="active" href="#">
              <div class="icon ">
                <img src="../images/introduce-icon-1.png" alt="">
              </div>  
              <p class="p-move">和平要闻</p>
            </a>
          </li>

        </ul>

    </div>

      <!-- 内容开始 -->
      <div class="content">
        <div class="news clearfix w">
          <div class="news-r clearfix">
        
            <!-- banner开始 -->
            <div class="news-r-t">
             
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide banner-one">
                        <div class="text">
                          <span>举办六周年店庆活动</span>
                          <a href="./news-detail.html">
                              <span class="text-more">了解更多</span>
                          </a>
                          
                        </div>
                      </div>

                      <div class="swiper-slide banner-two">
                          <div class="text">
                              <span>举办六周年店庆活动</span>
                              <a href="./news-detail.html">
                                  <span class="text-more">了解更多</span>
                              </a>
                              
                            </div>
                      </div>

                      
                      <div class="swiper-slide banner-three">
                          <div class="text">
                              <span>举办六周年店庆活动</span>
                              <a href="./news-detail.html">
                                  <span class="text-more">了解更多</span>
                              </a>
                              
                            </div>                        
                      </div>
                  </div>

                  <!-- 如果需要分页器 -->
                  <div class="swiper-pagination point"></div>
                  

                  

              </div>
              
            </div>


            <div class="news-r-b">
              <p class="best-new">最新新闻</p>
              <ul class="newsrb-ul">
                <li>
                  <div class="newsrb-li-l clearfix">
                    <img src="../images/news-img2.png" alt="">
                  </div>
                  <div class="newsrb-li-r clearfix">
                    <h3>酒店举办2015年跨年疯狂派队</h3>
                    <p class="time">2017 年 9 月 20 日</p>
                    <p>来宾们在欣赏精彩节目的同时，参加游戏互动，瑜珈比拼，喝碑酒比赛等活动，气氛热闹。</p>
                    <p>在2016新年倒计时环节，酒店为来宾们呈现了冷烟花表演，当晚活动到达了高潮。</p>
                    <p class="newsrb-more">
                      <a href="./news-detail.html">
                          了解更多
                      </a>
                      </p>
                  </div>
                </li>

                <li>
                    <div class="newsrb-li-l clearfix">
                      <img src="../images/news-img3.png" alt="">
                    </div>
                    <div class="newsrb-li-r clearfix">
                      <h3>酒店举办2015年跨年疯狂派队</h3>
                      <p class="time">2017 年 9 月 20 日</p>
                      <p>来宾们在欣赏精彩节目的同时，参加游戏互动，瑜珈比拼，喝碑酒比赛等活动，气氛热闹。</p>
                      <p>在2016新年倒计时环节，酒店为来宾们呈现了冷烟花表演，当晚活动到达了高潮。</p>
                      <p class="newsrb-more">
                        <a href="./news-detail.html">
                            了解更多
                        </a>
                        </p>
                    </div>
                </li>  
                
                <li>
                    <div class="newsrb-li-l clearfix">
                      <img src="../images/news-img4.png" alt="">
                    </div>
                    <div class="newsrb-li-r clearfix">
                      <h3>酒店举办2015年跨年疯狂派队</h3>
                      <p class="time">2017 年 9 月 20 日</p>
                      <p>来宾们在欣赏精彩节目的同时，参加游戏互动，瑜珈比拼，喝碑酒比赛等活动，气氛热闹。</p>
                      <p>在2016新年倒计时环节，酒店为来宾们呈现了冷烟花表演，当晚活动到达了高潮。</p>
                      <p class="newsrb-more">
                        <a href="./news-detail.html">
                            了解更多
                        </a>
                        </p>
                    </div>
                </li>

                <li>
                    <div class="newsrb-li-l clearfix">
                      <img src="../images/news-img5.png" alt="">
                    </div>
                    <div class="newsrb-li-r clearfix">
                      <h3>酒店举办2015年跨年疯狂派队</h3>
                      <p class="time">2017 年 9 月 20 日</p>
                      <p>来宾们在欣赏精彩节目的同时，参加游戏互动，瑜珈比拼，喝碑酒比赛等活动，气氛热闹。</p>
                      <p>在2016新年倒计时环节，酒店为来宾们呈现了冷烟花表演，当晚活动到达了高潮。</p>
                      <p class="newsrb-more">
                        <a href="./news-detail.html">
                            了解更多
                        </a>
                        </p>
                    </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="news-l clearfix">
            <h2 class="title">
              <a href="#">
                  业内新闻
              </a>
             </h2>
            <ul class="news-l-ul">
              <li>
                <img src="../images/home-img2.png" alt="">
                <h3 class="">获两项中国品牌大奖 受邀参加“国家品牌计划”</h3>
                <p class="timer">2017 年 9 月 20 日</p>
                <p>1月8日，万达集团获人民日报社颁发的2016中国品牌论坛“中国品牌创新奖”，王健林董事长获“中国品牌人物奖”</p>
                <p class="more"><a href="./news-detail.html">了解更多</a></p>
              </li>

              <li>
                  <img src="../images/home-img4.png" alt="">
                  <h3 class="">获两项中国品牌大奖 受邀参加“国家品牌计划”</h3>
                  <p class="timer">2017 年 9 月 20 日</p>
                  <p>1月8日，万达集团获人民日报社颁发的2016中国品牌论坛“中国品牌创新奖”，王健林董事长获“中国品牌人物奖”</p>
                  <p class="more"><a href="./news-detail.html">了解更多</a></p>
              </li>

                <li>
                    <img src="../images/home-img5.png" alt="">
                    <h3 class="">获两项中国品牌大奖 受邀参加“国家品牌计划”</h3>
                    <p class="timer">2017 年 9 月 20 日</p>
                    <p>1月8日，万达集团获人民日报社颁发的2016中国品牌论坛“中国品牌创新奖”，王健林董事长获“中国品牌人物奖”</p>
                    <p class="more"><a href="./news-detail.html">了解更多</a></p>
                </li>


            </ul>
          </div>
        </div>
      </div>

     <!-- 底部开始 -->
   

              <div class="footer">
                  <div class="w footer-t">
                    <ul class="footer-t-ul one">
                      <li class="size">首页</li>
                      <li><a href="./introduce.html">集团介绍</a></li>
                      <li><a href="./recruit.html">人才招聘</a></li>
                      <li><a href="./contact.html">联系我们</a></li>
                      <li><a href="./news.html">新闻快报</a></li>     
                    </ul>
 
                    <ul class="footer-t-ul two">
                       <li class="size">和平产业</li>
                       <li><a href="#">文化旅游</a></li>
                       <li><a href="#">酒店管理</a></li>
                       <li><a href="#">国际酒店</a></li>
                       <li><a href="#">商贸金融</a></li>
                       <li><a href="#">汽车租赁</a></li>     
                    </ul>
 
                    <ul class="footer-t-ul three">
                       <li class="size">和平旗下公司</li>
                       <li><a href="#">上海和平企业（集团）</a></li>
                       <li><a href="#">南上海文化旅游国际度假区</a></li>
                       <li><a href="#">上海世纪酒店管理有限公司</a></li>
                       <li><a href="#">上海和平好莱坞国际酒店</a></li>
                       <li><a href="#">上海和平商贸金融有限公司</a></li>
                       <li><a href="#">上海和平汽车租赁有限公司</a></li>      
                     </ul>
 
                   <ul class="footer-t-ul four">
                         <li class="size ">南上海文化旅游国际度假区</li>
                         <li><a href="#">上海和平企业（集团）</a></li>
                         <li><a href="#">南上海文化旅游国际度假区</a></li>
 
                         <li class="size move-t">上海和平企业（集团）</li>
                         <li><a href="#">上海和平企业（集团）</a></li>
                         <li><a href="#">南上海文化旅游国际度假区</a></li>
                         <li><a href="#">上海世纪酒店管理有限公司</a></li>
                         <li><a href="#">上海和平好莱坞国际酒店</a></li>     
                   </ul>
 
                   <ul class="footer-t-ul five">
                           <li class="size ">上海世纪酒店管理有限公司</li>
                           <li><a href="#">上海和平企业（集团）</a></li>
                           <li><a href="#">南上海文化旅游国际度假区</a></li>
 
                           <li class="size move-t">上海和平好莱坞国际酒店</li>
                           <li><a href="#">上海和平商贸金融有限公司</a></li>
                           <li><a href="#">上海和平汽车租赁有限公司</a></li>
                           <li><a href="#">上海和平企业（集团）</a></li>  
                           <li><a href="#">南上海文化旅游国际度假区</a></li>    
                   </ul>
 
                    
                  </div>
                  <div class=" w footer-b">
                      <div class="footer-b-t">
                          <p class="text">
                             联系方式：021-6893 0000    邮箱：1234567@qq.com    地址：上海市浦东新区沪南公路2651号
                          </p>
                          <img src="../images/logo1.png" alt="">
                      </div>
                      <p class="footer-b-b"> 
                         版权所有 Copyright(c)2009-2014上海和平企业（集团）有限公司
                      </p>
                  </div>
               </div>


<script src="../js/jquery-1.10.1.min.js"></script>
<script src="../lib/swiper/swiper.js"></script>

<script>
  var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,


        

     

        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
  
    
    });
</script>
</body>
</html>