<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/details.css">
  <title>招聘详情</title>
</head>
<body>
  
        <!--导航-->
      <!--导航-->
      <div class="navigation ">
        <div class="navigation-t w">
            <div class="nav-left clearfix">
                <img src="../images/logo1.png" alt="">
              </div>
              <div class="nav-right">
                <ul class="nav-right-ul clearfix">
                  <li>
                    <a href="../Index.html">首页</a>
                  </li>
                  <li>
                    <a href="./introduce.html">和平介绍</a>
                  </li>
                  <li>
                    <a href="./news.html">新闻快报</a>
                  </li>
                  <li class="actives">
                    <a href="./recruit.html">人才招聘</a>
                  </li>
                  <li>
                    <a href="./contact.html">联系我们</a>
                  </li>
                </ul>
              </div>
        </div>
      </div>
    
  
        <div class="navigation-b w">
            <ul class="navigation-b-ul">
    
              <li>
                <a class="active" href="./recruit.html">
                  <div class="icon ">
                    <img src="../images/introduce-icon-1.png" alt="">
                  </div>  
                  <p class="">校园招聘</p>
                </a>
              </li>
    
              <li class="li-diff">
                  <a href="./recruit-sociology.html">
                    <div class="icon">
                      <img class="introduce-icon-2" src="../images/introduce-icon-2.png" alt="">
                    </div>  
                    <p>社会招聘</p>
                  </a>
                </li>
              
            </ul>
    
        </div>

     <!-- banner开始 -->
      <div class="banner">
          <div class="content w">
            <p class="p-one">Campus Recruitment</p>
            <p>校园招聘</p>
          </div>  
        </div>
        
        <!-- 面包导航 -->
        <div class="bread">
          <div class="bread-cnt w">
              <span>人才招聘></span>
              <span>校园招聘</span>
          </div> 
      </div>

      <!-- 具体招聘 -->
      <div class="details">
        <div class="details-cnt w">
          <h2>【上海和平企业(集团)】计划财务类</h2>
          <div class="top">
            <ul class="clearfix">
              <li class="icon-one">
                <span>所属部门:</span>
                <span>财务类</span>
              </li>
              <li class="icon-two">
                  <span>工作地点:</span>
                  <span>海南省-海口市</span>
              </li>
              <li class="icon-three">
                  <span>招聘人数:</span>
                  <span>若干人</span>
               </li>
            </ul>

            <ul class="clearfix">
                <li class="icon-four">
                  <span>所属公司:</span>
                  <span>上海和平企业(集团)</span>
                </li>
                <li class="icon-five">
                    <span>职位类别:</span>
                    <span>校园招聘</span>
                </li>
                <li>
                    <span>发布时间:</span>
                    <span>2017-09-05</span>
                 </li>
              </ul>
          </div>

          <div class="center">
            <h3>工作职责:</h3>
            <p>1、负责澳洲、新西兰、英国、美国等海外房产客户开发与销售执行；</p>
            <p>2、准确理解客户需求，提供优质房产项目并制定专业投资建议计划书；</p>
            <p>3、为客户提供海外购房法律法规、贷款政策、交房、租赁等环节的专业咨询；</p>
          </div>

          <div class="right center">
              <h3>职责要求:</h3>
              <p>1、两年以上销售经验（海外或国内房产；外资银行、国内银行理财；移民或留学；奢侈品等行业经验优先考虑）；</p>
              <p>2、具有良好的敬业精神、团队精神、有明确目标。</p>
              <p>3、热爱销售工作，具备较强的沟通能力、抗压性；</p>
              <p>1、两年以上销售经验（海外或国内房产；外资银行、国内银行理财；移民或留学；奢侈品等行业经验优先考虑）；</p>
              <p>2、具有良好的敬业精神、团队精神、有明确目标。</p>
              <p>3、热爱销售工作，具备较强的沟通能力、抗压性；</p>
            </div>
        </div>
      </div>

   <!-- 底部开始 -->
   <div class="footer">
    <div class="w footer-t">
      <ul class="footer-t-ul one">
        <li class="size">首页</li>
        <li><a href="./introduce.html">集团介绍</a></li>
        <li><a href="./recruit.html">人才招聘</a></li>
        <li><a href="./contact.html">联系我们</a></li>
        <li><a href="./news.html">新闻快报</a></li>      
      </ul>

      <ul class="footer-t-ul two">
         <li class="size">和平产业</li>
         <li><a href="#">文化旅游</a></li>
         <li><a href="#">酒店管理</a></li>
         <li><a href="#">国际酒店</a></li>
         <li><a href="#">商贸金融</a></li>
         <li><a href="#">汽车租赁</a></li>     
      </ul>

      <ul class="footer-t-ul three">
         <li class="size">和平旗下公司</li>
         <li><a href="#">上海和平企业（集团）</a></li>
         <li><a href="#">南上海文化旅游国际度假区</a></li>
         <li><a href="#">上海世纪酒店管理有限公司</a></li>
         <li><a href="#">上海和平好莱坞国际酒店</a></li>
         <li><a href="#">上海和平商贸金融有限公司</a></li>
         <li><a href="#">上海和平汽车租赁有限公司</a></li>      
       </ul>

     <ul class="footer-t-ul four">
           <li class="size ">南上海文化旅游国际度假区</li>
           <li><a href="#">上海和平企业（集团）</a></li>
           <li><a href="#">南上海文化旅游国际度假区</a></li>

           <li class="size move-t">上海和平企业（集团）</li>
           <li><a href="#">上海和平企业（集团）</a></li>
           <li><a href="#">南上海文化旅游国际度假区</a></li>
           <li><a href="#">上海世纪酒店管理有限公司</a></li>
           <li><a href="#">上海和平好莱坞国际酒店</a></li>     
     </ul>

     <ul class="footer-t-ul five">
             <li class="size ">上海世纪酒店管理有限公司</li>
             <li><a href="#">上海和平企业（集团）</a></li>
             <li><a href="#">南上海文化旅游国际度假区</a></li>

             <li class="size move-t">上海和平好莱坞国际酒店</li>
             <li><a href="#">上海和平商贸金融有限公司</a></li>
             <li><a href="#">上海和平汽车租赁有限公司</a></li>
             <li><a href="#">上海和平企业（集团）</a></li>  
             <li><a href="#">南上海文化旅游国际度假区</a></li>    
     </ul>

      
    </div>
    <div class=" w footer-b">
        <div class="footer-b-t">
            <p class="text">
               联系方式：021-6893 0000    邮箱：1234567@qq.com    地址：上海市浦东新区沪南公路2651号
            </p>
            <img src="../images/logo1.png" alt="">
        </div>
        <p class="footer-b-b"> 
           版权所有 Copyright(c)2009-2014上海和平企业（集团）有限公司
        </p>
    </div>
 </div>
  
</body>
</html>