<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/square.css">
  <title>广场</title>
</head>
<body>
      <!--导航-->
      <div class="navigation ">
        <div class="navigation-t w">
            <div class="nav-left clearfix">
                <img src="../images/logo1.png" alt="">
              </div>
              <div class="nav-right">
                <ul class="nav-right-ul clearfix">
                  <li>
                    <a href="../Index.html">首页</a>
                  </li>
                  <li class="actives">
                    <a href="./introduce.html">和平介绍</a>
                  </li>
                  <li>
                    <a href="./news.html">新闻快报</a>
                  </li>
                  <li>
                    <a href="./recruit.html">人才招聘</a>
                  </li>
                  <li>
                    <a href="./contact.html">联系我们</a>
                  </li>
                </ul>
              </div>
        </div>
      </div>
  

      <div class="navigation-b w">
        <ul class="navigation-b-ul">

          <li>
            <a class="active" href="">
              <div class="icon ">
                <img src="../images/introduce-icon-1.png" alt="">
              </div>  
              <p class="p-move">上海和平企业集团(集团)</p>
            </a>
          </li>

          <li class="li-diff">
              <a href="./huamei.html">
                <div class="icon">
                  <img class="introduce-icon-2" src="../images/introduce-icon-2.png" alt="">
                </div>  
                <p>南上海文化旅
                    游国际度假区</p>
              </a>
            </li>
            
            <li>
                <a href="./hotel.html">
                  <div class="icon">
                    <img class="introduce-icon-3" src="../images/introduce-icon-3.png" alt="">
                  </div>  
                  <p class="p-move">上海世纪酒店管理</p>
                </a>
              </li>
              
              <li class="li-diff">
                  <a href="./huamei.html">
                    <div class="icon">
                      <img class="introduce-icon-4" src="../images/introduce-icon-4.png" alt="">
                    </div>  
                    <p>上海和平好莱
                        坞国际酒店</p>
                  </a>
                </li>             

                <li>
                    <a href="./square.html">
                      <div class="icon">
                        <img class="introduce-icon-5" src="../images/introduce-icon-5.png" alt="">
                      </div>  
                      <p class="p-move">上海和平商贸金融</p>
                    </a>
                  </li>

                  <li>
                      <a href="./bulid.html">
                        <div class="icon">
                          <img class="introduce-icon-6" src="../images/introduce-icon-6.png" alt="">
                        </div>  
                        <p class="p-move">上海和平汽车租赁</p>
                      </a>
                    </li>                 
          


        </ul>

      </div>


    <!-- banner开始 -->
    <div class="banner">
      <div class="content w">
        <p class="p-one">Office Building</p>
        <p>5A级写字楼</p>
      </div>  
    </div>

  <!--tap栏目  -->
    <div class="tap-column">
      <div class="cnt w">
        <div class="tap">
          <ul class="tap-ul" >
            <li class="active" data-num="one">项目规划</li>
            <li data-num="two">区位交通</li>
            <li data-num="three">项目周边</li>
            <li data-num="four">业态规划</li>
            <li data-num="five">主力商户</li>
            <li data-num="six">配套资源</li>
          </ul>
        </div>
   
      </div>

      <!-- one -->
      <div class="one  same clearfix">
          <div class="w">
              <div class="tap-cnt clearfix">
                  <div class="tap-cnt-l clearfix">
                    <ul class="clearfix">
                      <li>
                        <p>约100000平方米</p>
                        <p>总建筑面积</p>
                      </li>
        
                      <li>
                        <p>17层5星级</p>
                        <p>总建筑面积</p>
                      </li>
        
                      <li>
                        <p>约60000平方米</p>
                        <p>商业部分</p>
                      </li>
        
                      <li>
                        <p>近10000平方米</p>
                        <p>近10000平方米</p>
                      </li>
        
                      <li>
                        <p>15层5A级</p>
                        <p>总部OFFICE</p>
                      </li>
                    </ul>
                  </div>
        
                  <div class="tap-cnt-r clearfix ">
                      <img class="pic-one" src="../images/square-img001.png" alt="">
                      
                        <span class="arrow-l"></span>
                        <span class="arrow-r"></span>
                      <div class="round-a">
                        <p>近千个</p>
                        <p>机动车位</p>
                      </div>
                      <div class="round-b">
                          <p class="size">商场面积</p>
                          <p class="number">60000m<sup>2</sup></p>
                      </div>
                  </div>
                </div>
          </div>


        <div class="kinds">
         
          <div class="kinds-cnt w">
            <ul>
              <li>
                <img src="../images/square-icon1.png" alt="">
                <p>精致餐饮</p>
              </li>
              <li>
                <img src="../images/square-icon2.png" alt="">
                <p>多元精品</p>
              </li>
              <li>
                <img src="../images/square-icon3.png" alt="">
                <p>免税店</p>
              </li>
              <li>
                <img src="../images/square-icon4.png" alt="">
                <p>儿童天地</p>
              </li>
              <li>
                <img src="../images/square-icon5.png" alt="">
                <p>休闲娱乐</p>
              </li>
              <li>
                <img src="../images/square-icon6.png" alt="">
                <p>空中花园</p>
              </li>
              <li>
                <img src="../images/square-icon7.png" alt="">
                <p>生活馆</p>
              </li>
              <li>
                <img src="../images/square-icon8.png" alt="">
                <p>办公楼</p>
              </li>
              <li>
                <img src="../images/square-icon9.png" alt="">
                <p>精品酒店</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- two -->
      <div class="two off same">
        <div class="two-cnt w">
          <div class="adress">
            <div id="allmap"></div>
          </div>
          <div class="text">
            <p>和平莱茵广场位于浦东新区中心地带。地处上海城市交通大动脉，外环沪南公路出口处，交通便捷：</p>
            <ul class="text-ul">
              <li>三轨（11号线、18号线、16号线）</li>
              <li>三隧（上中路隧道、龙耀路隧道、西藏南路隧道）</li>
              <li>二环（中环线、外环线）、一路（沪南路）、20余条公交线汇聚于此。</li>
              <li> 自驾直上中环通达城市各大核心，地铁硅胶延展全上海。</li>
              <li>此等规模立体式交通系统在上海中环商圈中首屈一指，城市新核有事地位日益凸显。</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- three -->
      <div class="three off same">
        <div class="three-cnt w clearfix ">
          <div class="three-cnt-l clearfix">
            <img src="../images/square3-img1.png" alt="">
            <h3>康桥镇位于大浦东核心区域，总面积为41.25平方公里</h3>
            <p>康桥镇户籍人口—约300,000人</p>
            <p>常住人口—约1,200,000人</p>
            <p>总人口—1,500,000人</p>
            <p>超大型居住群在此！五镇（康桥、三林、北蔡、周浦、航头）半径1.5KM人口统计，超百万家庭客群。</p>
            <p>浦东超大高端别墅群在此！半径1公里别墅区23个，高端人群达5万。</p>
      
          </div>
          <div class="three-cnt-r clearfix">
            <ul class="clearfix">
              <li>
                <p>清水湾别墅区</p>
              </li>
              <li class="move">
                  <p>绿宝园别墅区</p>
              </li>
              <li>
                  <p>中邦·艺墅别墅区</p>
                </li>
                <li class="move">
                    <p>绿宝园·腹庭别墅区</p>
                </li>
                <li>
                   <p>绿宝园别墅区</p>
                </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- four -->
      <div class="four off same">
        <div class="four-cnt">

          <div class="four-cnt-t">
            <div class="top w">
              <div class="top-t">
                <ul>
                  <li>
                    <img src="../images/square4-img1.png" alt="">
                  </li>
                  <li>
                    <img src="../images/square4-img2.png" alt="">
                  </li>
                  <li>
                    <img src="../images/square4-img3.png" alt="">
                  </li>
                  <li>
                    <img src="../images/square4-img4.png" alt="">
                  </li>
                  <li>
                    <img src="../images/square4-img5.png" alt="">
                  </li>
                  <li>
                    <img src="../images/square4-img6.png" alt="">
                  </li>
                </ul>
              </div>
              <div class="top-b">
                <img src="../images/square4-img7.png" alt="">
              </div>
            </div>
          </div>

          <div class="four-cnt-b">
            <div class="content w">
              <div class="top">
                <div class="title">
                  <h2>B1F—1F特色店</h2>
                  <p>梦家全体验超市、跨境电商店、星尚美食广场、各地精致小食、潮流时尚店。</p>
                </div>

                <div class="pic-one clearfix">
                  <img src="../images/square4b-img1.png" alt="">
                  <p>梦家全体验超市、美食广场</p>
                </div>

                <div class="pic-two">
                  <img src="../images/square4b-img2.png" alt="">
                  <p>潮流时尚店</p>
                </div>
                
              </div>

              <div class="center">
                  <div class="title">
                    <h2>2F—3F特色店</h2>
                    <p>韩国商品城、儿童游乐场、儿童早教、培训等。</p>
                  </div>
  
                  <div class="cnt-b" >
                    <ul>
                      <li>
                        <img src="../images/square4b-img3.png" alt="">
                        <p>泰迪熊主题乐园</p>
                      </li>

                      <li>
                        <img src="../images/square4b-img4.png" alt="">
                        <p>韩国商品城</p>
                      </li>
                    </ul>
                  </div>
                  
              </div>

              <div class="bottom clearfix">
                <div class="title">
                    <h2>5MF—5F特色店</h2>
                    <p>影院、量贩式KTV、VR体验馆、电玩城。</p>
                </div>

                <div class="bottom-one clearfix">
                  <div class="pic clearfix">
                    <img src="../images/square4b-img5.png" alt="">
                  </div>
                  <p>中影星美国际影院</p>
                </div>

                <div class="bottom-two w">
                  <div class="btp">
                      <p>量贩式KTV</p>
                  </div>
                  
                  <div class="pic clearfix">
                    <img src="../images/square4b-img6.png" alt="">
                  </div>
                </div>
                  
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- five -->
      <div class="five off same">
        <div class="five-cnt w">
          <div class="top">
            <ul>
              <li class="pic-t">
                <img src="../images/square5-img1.png" alt="">
              </li>
              <li>
                  <img src="../images/square5-img2.png" alt="">
              </li>
            </ul>
          </div>

          <div class="center">
            <ul>

              <li class="center-l">
                <img src="../images/square5-img3.png" alt="">
              </li>
              <li class="center-r">
                <img src="../images/square5-img4.png" alt="">
                <p>面积1000㎡的星尚美食广场融合了全球各地特色著名小吃，提供各式各样的美味选择。可供近300人同时就餐。</p>
              </li>

            </ul>
          </div>

          <div class="bottom">
            <div class="bottom-cnt w">
                <ul class="base">
                    <li class="pic-one">
                      <img src="../images/square5-img01.png" alt="">
                    </li>
                    <li class="pic-two">
                        <img src="../images/square5-img02.png" alt="">
                      </li>
      
                      <li>
                          <img src="../images/square5-img03.png" alt="">
                        </li>
      
                        <li>
                            <img src="../images/square5-img04.png" alt="">
                          </li>
                </ul>

                <ul class="base moves">
                    <li >
                      <img src="../images/square5-img05.png" alt="">
                    </li>
                    <li>
                        <img src="../images/square5-img06.png" alt="">
                      </li>
      
                      <li>
                          <img src="../images/square5-img07.png" alt="">
                        </li>
      
                        <li>
                            <img src="../images/square5-img08.png" alt="">
                          
                          </li>
                          <li>
                              <img src="../images/square5-img09.png" alt="">
                            </li>
                </ul>


                <ul class="base moves">

                    <li>
                        <img src="../images/square5-img011.png" alt="">
                      </li>
      
                      <li>
                          <img src="../images/square5-img012.png" alt="">
                        </li>
      
                        <li>
                            <img src="../images/square5-img013.png" alt="">
                          </li>
                </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- six -->
      <div class="six off same">
        <div class="six-cnt w">
          <img src="../images/square6-banner.png" alt="">
          <p>
            <span class="span-one">B2F</span>
            <span class="span-two">地下停车场车位近千个，顾客可乘电梯直达购物中心、豪生酒店、写字楼，地面停车场车位50个，总面积1万平方米，车位充足。 </span>
          </p>
        </div>
      </div>

    </div>



<!-- 图列表 -->
    <div class="pic-data">
      <div class="cnt w">
        <ul class="">
          <li>
            <img src="../images/square-img6.png" alt="">
          </li>
          <li>
            <img src="../images/square-img6.png" alt="">
          </li>
          <li>
            <img src="../images/square-img6.png" alt="">
          </li>
          <li>
            <img src="../images/square-img9.png" alt="">
          </li>
          <li>
            <img src="../images/square-img10.png" alt="">
          </li>
          <li>
            <img src="../images/square-img11.png" alt="">
          </li>
          <li>
            <img src="../images/square-img12.png" alt="">
          </li>
          <li>
            <img src="../images/square-img13.png" alt="">
          </li>
        </ul>
      </div>
    </div>

  <!-- 底部开始 -->
  <div class="footer">
    <div class="w footer-t">
      <ul class="footer-t-ul one">
        <li class="size">首页</li>
        <li><a href="./introduce.html">集团介绍</a></li>
        <li><a href="./recruit.html">人才招聘</a></li>
        <li><a href="./contact.html">联系我们</a></li>
        <li><a href="./news.html">新闻快报</a></li>      
      </ul>

      <ul class="footer-t-ul two">
         <li class="size">和平产业</li>
         <li><a href="#">文化旅游</a></li>
         <li><a href="#">酒店管理</a></li>
         <li><a href="#">国际酒店</a></li>
         <li><a href="#">商贸金融</a></li>
         <li><a href="#">汽车租赁</a></li>     
      </ul>

      <ul class="footer-t-ul three">
         <li class="size">和平旗下公司</li>
         <li><a href="#">上海和平企业（集团）</a></li>
         <li><a href="#">南上海文化旅游国际度假区</a></li>
         <li><a href="#">上海世纪酒店管理有限公司</a></li>
         <li><a href="#">上海和平好莱坞国际酒店</a></li>
         <li><a href="#">上海和平商贸金融有限公司</a></li>
         <li><a href="#">上海和平汽车租赁有限公司</a></li>      
       </ul>

     <ul class="footer-t-ul four">
           <li class="size ">南上海文化旅游国际度假区</li>
           <li><a href="#">上海和平企业（集团）</a></li>
           <li><a href="#">南上海文化旅游国际度假区</a></li>

           <li class="size move-t">上海和平企业（集团）</li>
           <li><a href="#">上海和平企业（集团）</a></li>
           <li><a href="#">南上海文化旅游国际度假区</a></li>
           <li><a href="#">上海世纪酒店管理有限公司</a></li>
           <li><a href="#">上海和平好莱坞国际酒店</a></li>     
     </ul>

     <ul class="footer-t-ul five">
             <li class="size ">上海世纪酒店管理有限公司</li>
             <li><a href="#">上海和平企业（集团）</a></li>
             <li><a href="#">南上海文化旅游国际度假区</a></li>

             <li class="size move-t">上海和平好莱坞国际酒店</li>
             <li><a href="#">上海和平商贸金融有限公司</a></li>
             <li><a href="#">上海和平汽车租赁有限公司</a></li>
             <li><a href="#">上海和平企业（集团）</a></li>  
             <li><a href="#">南上海文化旅游国际度假区</a></li>    
     </ul>

      
    </div>
    <div class=" w footer-b">
        <div class="footer-b-t">
            <p class="text">
               联系方式：021-6893 0000    邮箱：1234567@qq.com    地址：上海市浦东新区沪南公路2651号
            </p>
            <img src="../images/logo1.png" alt="">
        </div>
        <p class="footer-b-b"> 
           版权所有 Copyright(c)2009-2014上海和平企业（集团）有限公司
        </p>
    </div>
 </div>
  <script src="../js/jquery-3.1.0.min.js"></script>
  <script > 
    $(function(){
  $('.tap-ul').on('click','li',function(){
    var _that = $(this);
    var num ='.'+ _that.attr('data-num');
    _that
     .addClass('active')
     .siblings()
     .removeClass('active');
    $(num)
      .removeClass('off')
      .siblings('.same')
      .addClass('off');

      if(num == '.three' || num == '.two') {
        console.log('12');
        $('.tap-column').css({background:'#f8f9fb'});
      }else {
        $('.tap-column').css({background:'#fff'});
      }
    
  })
})
  </script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZ5nyKUeivsxXpyaSfwE9vTBzkSj5ifL"></script>

<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(121.574279, 31.152811);
	map.centerAndZoom(point, 15);
	var marker = new BMap.Marker(point);  
	map.addOverlay(marker);              
	marker.setAnimation(BMAP_ANIMATION_BOUNCE); 
  map.enableScrollWheelZoom(true);
</script>

</body>
</html>